.contact{
    padding-top: 50px;
    margin-bottom: 100px;

    
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 185px;
        //margin-bottom: 100px;
        padding-bottom: 478px;
       
        }
    
    &-map{
        width: 100%;
        height: 100%;
       
    }
    &-heading{
        margin-bottom: 15px;
        color: $light-text;
    }
    

}
@media screen and (max-width: 1439px) {
    .contact-content{
        gap: 0 50px;
    }
    .contact-desc{
        width: 50%;
    }
    .contact-info{
        width: 50%;
    }
    .contact-map{
        width: 50%;
    }
   
}

@media screen and (max-width: 767px) {

    .contact-content{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .contact-map{
        width: 100%;
    }
    .contact-desc{
        width: 100%;
        text-align: center;
    }
}
