.feedback{
    padding: 80px 0;
    background-color: $second-background;
    .boxed{
        padding: 0 197px;
        margin-bottom: 50px;
    }
    margin-top: 100px;
    &-heading{
        margin-bottom: 10px;
    }
    &-name{
        font-weight: 700;
        font-size: 24px;
        line-height: calc(32 / 24);
        color: $dark-text;
    }
    &-job{
        font-weight: 600;
        font-size: 14px;
        line-height: calc(24 / 14);
        color: $secondary-color;
        margin-bottom: 15px;
    }
    &-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:0 100px;
        
    }
    &-desc{
        font-weight: 500;
        font-size: 14px;
        line-height: calc(20 / 14);
        color: $secondary-color;
    }
    &-item{
        max-width: 490px;
        background-color: $light-text;
        padding: 30px 60px;
        position: relative;
    }
    &-rating{
        margin-bottom: 15px;
    }
    &-avatar{
        position: absolute;
        top: 28px;
        left: -70px;
    }
}
@media screen and (max-width: 1439px) {
    .feedback .boxed {
        padding: 0;
        margin-bottom: 100px;
    }
    .feedback-item {
       
        padding: 30px 30px;
       
    }
}
@media screen and (max-width: 767px) {
    .feedback-list {
        display: flex;
        flex-direction: column;
        gap: 30px 0;
    }
    .feedback-avatar {
        
        left: -10px;
        width: 63px;
        height: 63px;
    }
    }
