
.form{
   
    background-color: $light-text;
    width: 100%;
    &-info{ 
        padding: 40px 50px 40px 0;
    }
    &-container{
        transform: translateY(-50%);
    }
    &-title{
        color: $dark-text;
    }
    &-book{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap:0 50px;
        background-color: $light-text;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-desc{
        // display: flex;
        // justify-content: center;
        // align-items: flex-start;
        // flex-direction: column;
        max-width: 688px;
       
        label{
            color: $dark-text;
            display: block;
            font-weight: 600;
            font-size: 14px;
            line-height: calc(24 / 14);
            margin-bottom: 10px;
        }
        input{
            display: block;
            width: 100%;
            margin-bottom: 12px;
            padding: 15px;
            font-size: 14px;
            font-weight: 400;
            line-height: calc(28 / 14);
            color: $secondary-color;
            background-color: $input-background;
            border: 1px solid $input-background;
        }
    }
    &-button{
        margin-top: 50px;
        border-radius: 5px;
        padding: 20px 0;
        width: 100%;
        
    }
}
@media screen and (max-width: 767px) {
    .form{
        position: relative;
        padding-bottom: 40px;
    }
    .form {
        .container{
            // position: absolute;
            // top: 0;
            // left: 0;
            // width: 100%;
            // height: 100%;
            padding: 0 ;
        }
    }
    .form-book{
        display: flex;
        flex-direction: column;
        grid-gap: 50px 0;
    }
    .form-container{
        transform: translateY(0);
    }
    .form-info{
        padding: 0 50px;
    }
    .form-image{
       height: 300px;
       
        img{
            height: 100%;
        }
    }
    
}
