$font: 'Montserrat', sans-serif;
$light-text: #FFFFFF;
$primary-color: #FFA62B;
$dark-text: #252B42;
$blue-color: #00A0C1;
$secondary-color: #737373;
$second-background: #16697A;
$input-background: #EDEDED;
$footer: #384163;
