html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-weight: 500;
  background-color: white;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1049px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  padding: 10px 36px;
  border-radius: 100rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-size: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  white-space: nowrap;
  font-weight: 700;
}
.button--primary {
  background-color: #FFA62B;
  color: #FFFFFF;
}
.button--outline {
  background-color: transparent;
  color: #FFFFFF;
  font-weight: 500;
  border: 1px solid #FFFFFF;
}
.button--rounded {
  border-radius: 10px;
  padding: 17px 65px;
}
.button--outline_blue {
  border: 1px solid #00A0C1;
}

.heading {
  font-weight: 700;
  font-size: 40px;
  line-height: calc(57 / 40);
  color: #FFFFFF;
}

.heading-small {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: #FFFFFF;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(20 / 14);
  color: #FFFFFF;
}

.text-small {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #FFFFFF;
  font-weight: 600;
}

.boxed {
  max-width: 864px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header {
  background-image: url(../image/bgc.png);
  object-fit: cover;
  padding-top: 23px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
.header-logo {
  font-weight: 700;
  font-size: 24px;
  line-height: calc( 32 / 24);
  color: #FFFFFF;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 21px;
}
.menu-link {
  color: inherit;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: calc( 24 / 14);
}
.menu-item {
  list-style-type: none;
}
.menu-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 21px;
}
.menu-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 21px;
}

@media screen and (max-width: 1439px) {
  .header-container {
    padding: 0 100px;
  }
}
@media screen and (max-width: 767px) {
  .header-container {
    padding: 36px 36px;
  }

  .menu-list {
    display: none;
  }
}
.hero {
  max-width: 864px;
  margin: 0 auto;
  padding: 160px 40px;
  margin-bottom: 80px;
}
.hero-heading {
  text-align: center;
  font-weight: 800;
  font-size: 58px;
  line-height: calc(80 / 58);
  margin-bottom: 40px;
}
.hero-desc {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(30 / 20);
  color: #FFFFFF;
  margin-bottom: 40px;
}
.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
}

@media screen and (max-width: 1439px) {
  .hero {
    padding: 50px 40px;
  }
}
@media screen and (max-width: 767px) {
  .hero-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 25px 0px;
  }
}
.intro {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 30px;
  background-color: #FFFFFF;
  transform: translateY(19px);
}
.intro-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.intro-title {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(32 / 24);
  color: #252B42;
}
.intro-text {
  font-weight: 600;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #737373;
}

@media screen and (max-width: 767px) {
  .intro {
    margin-top: 80px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px 0;
    flex-direction: column;
    padding: 153px 57px;
  }

  .intro-item {
    background-color: #FFFFFF;
    gap: 0 20px;
    justify-content: flex-start;
    padding: 20px;
  }
  .intro-item:last-child {
    margin-bottom: 57px;
  }
}
main {
  background-color: #252B42;
  padding-top: 58px;
}

.feature {
  padding: 80px 5px;
}
.feature-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 30px;
}
.feature-item {
  background-color: #FFFFFF;
  padding: 35px 40px;
}
.feature-icon {
  margin-bottom: 20px;
}
.feature-title {
  font-size: 16px;
  line-height: calc(24 / 16);
  margin-bottom: 20px;
  font-weight: 400;
  color: #252B42;
}
.feature-desc {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(20 / 14);
  color: #737373;
  margin-bottom: 20px;
}
.feature-button span {
  color: #00A0C1;
  font-size: 14px;
  line-height: calc(28 / 14);
  font-weight: 400;
}
.feature-button img {
  display: inline-block;
  color: #00A0C1;
}

@media screen and (max-width: 1439px) {
  .feature-item {
    padding: 15px 13px;
  }
}
@media screen and (max-width: 767px) {
  .feature {
    padding: 140px 57px;
  }

  .feature-list {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
  }
}
.about .boxed {
  padding: 100px 93px;
  margin-bottom: 100px;
}
.about-heading {
  margin-bottom: 15px;
}
.about-content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0 120px;
}
.about-media {
  width: 66.66%;
  position: relative;
}
.about-media img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.about-media::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-play {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #00A0C1;
}
.about-play img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.about-desc {
  width: 33.33%;
}
.about-desc .heading {
  margin-bottom: 10px;
}
.about-desc .text {
  margin-bottom: 50px;
}
.about-lazy {
  display: flex;
  gap: 0 20px;
}

@media screen and (max-width: 1439px) {
  .about {
    padding: 140px 57px;
  }

  .about-content {
    align-items: center;
    gap: 0 20px;
  }

  .about-media {
    width: 50%;
  }

  .about-desc {
    width: 50%;
  }

  .about .boxed {
    padding: 0;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 767px) {
  .about {
    padding: 0;
  }

  .about .boxed {
    padding: 0;
    margin-bottom: 100px;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
    gap: 50px 0;
  }

  .about-media {
    width: 100%;
  }

  .about-desc {
    width: 100%;
  }
}
.feedback {
  padding: 80px 0;
  background-color: #16697A;
  margin-top: 100px;
}
.feedback .boxed {
  padding: 0 197px;
  margin-bottom: 50px;
}
.feedback-heading {
  margin-bottom: 10px;
}
.feedback-name {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(32 / 24);
  color: #252B42;
}
.feedback-job {
  font-weight: 600;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #737373;
  margin-bottom: 15px;
}
.feedback-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 100px;
}
.feedback-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(20 / 14);
  color: #737373;
}
.feedback-item {
  max-width: 490px;
  background-color: #FFFFFF;
  padding: 30px 60px;
  position: relative;
}
.feedback-rating {
  margin-bottom: 15px;
}
.feedback-avatar {
  position: absolute;
  top: 28px;
  left: -70px;
}

@media screen and (max-width: 1439px) {
  .feedback .boxed {
    padding: 0;
    margin-bottom: 100px;
  }

  .feedback-item {
    padding: 30px 30px;
  }
}
@media screen and (max-width: 767px) {
  .feedback-list {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
  }

  .feedback-avatar {
    left: -10px;
    width: 63px;
    height: 63px;
  }
}
.team {
  padding: 80px;
}
.team .boxed {
  max-width: 470px;
}
.team-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 30px;
  margin-top: 50px;
}
.team-item {
  padding: 30px 40px;
  text-align: center;
  background-color: #FFFFFF;
}
.team-avatar {
  width: 130px;
  height: 130px;
  background: #FFFFFF;
  margin-bottom: 5px;
}
.team-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 100rem;
}
.team-position {
  text-align: center;
  color: #FFA62B;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(24 / 14);
  margin-bottom: 5px;
}
.team-name {
  color: #252B42;
}
.team-desc {
  color: #737373;
}

@media screen and (max-width: 1439px) {
  .team-item {
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .team-avatar {
    width: 90px;
    height: 90px;
  }
}
@media screen and (max-width: 767px) {
  .team {
    padding: 0;
    margin-top: 100px;
  }

  .team-list {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
  }
}
.contact {
  padding-top: 50px;
  margin-bottom: 100px;
}
.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 185px;
  padding-bottom: 478px;
}
.contact-map {
  width: 100%;
  height: 100%;
}
.contact-heading {
  margin-bottom: 15px;
  color: #FFFFFF;
}

@media screen and (max-width: 1439px) {
  .contact-content {
    gap: 0 50px;
  }

  .contact-desc {
    width: 50%;
  }

  .contact-info {
    width: 50%;
  }

  .contact-map {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .contact-content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .contact-map {
    width: 100%;
  }

  .contact-desc {
    width: 100%;
    text-align: center;
  }
}
.form {
  background-color: #FFFFFF;
  width: 100%;
}
.form-info {
  padding: 40px 50px 40px 0;
}
.form-container {
  transform: translateY(-50%);
}
.form-title {
  color: #252B42;
}
.form-book {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0 50px;
  background-color: #FFFFFF;
}
.form-book img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form-desc {
  max-width: 688px;
}
.form-desc label {
  color: #252B42;
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(24 / 14);
  margin-bottom: 10px;
}
.form-desc input {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(28 / 14);
  color: #737373;
  background-color: #EDEDED;
  border: 1px solid #EDEDED;
}
.form-button {
  margin-top: 50px;
  border-radius: 5px;
  padding: 20px 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .form {
    position: relative;
    padding-bottom: 40px;
  }

  .form .container {
    padding: 0;
  }

  .form-book {
    display: flex;
    flex-direction: column;
    grid-gap: 50px 0;
  }

  .form-container {
    transform: translateY(0);
  }

  .form-info {
    padding: 0 50px;
  }

  .form-image {
    height: 300px;
  }
  .form-image img {
    height: 100%;
  }
}
.footer {
  padding: 80px 296px;
  background-color: #252B42;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 30px;
}
.footer-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(32 / 24);
  margin-bottom: 25px;
  color: #FFFFFF;
}
.footer-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 20px;
  margin-top: 25px;
}
.footer-links {
  list-style-type: none;
}
.footer-link {
  margin-bottom: 10px;
}
.footer-bottom {
  background-color: #384163;
}
.footer-design {
  text-align: center;
  padding: 25px 270px;
  color: #BDBDBD;
}

@media screen and (max-width: 1439px) {
  footer {
    margin-top: -200px;
  }

  .footer {
    padding: 80px 0;
  }

  .footer-design {
    padding: 25px 200px;
  }
}
@media screen and (max-width: 767px) {
  footer {
    margin-top: 0;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
  }

  .footer {
    padding: 80px;
  }

  .footer-design {
    padding: 25px 50px;
  }
}

/*# sourceMappingURL=app.css.map */
